<div class={{classes.input__container}}>
  <label for={{name}}>{{labelValue}}</label>
  {{#if isValid}}
    <input class={{classes.input}} type={{type}} name={{name}} id={{name}} value="{{value}}">
  {{else}}
    <input class="{{classes.input}} {{classes.input__not-valid}}" type={{type}} name={{name}} id={{name}} value="{{value}}">
  {{/if}}
  <span class={{classes.span}}>{{error}}</span>
</div>