<div class={{classes.container}}>
  <h1 class={{classes.title}}>{{value}}</h1>
  <form class={{classes.main}}>
    <fieldset class={{classes.fieldset}}>
      {{#each inputs}}
        {{{this}}}
      {{/each}}
    </fieldset> 
    {{{button}}}
  </form>
</div>